= render 'shared/navbar'

%h1 Annonces récentes

- @annonces.each do |annonce|
  .row
    .col-sm-6.col-md-4
      .thumbnail
        .caption
          %h3 
            %td= annonce.title
            %a.btn.btn-primary{:href => "#", :role => "Button"} Show
          %td= annonce.body
          %p
            


%br

- if user_signed_in?
  = link_to 'Poster une annonce', new_annonce_path
  %br
- else
  %h5 Vous devez vous connecter pour poster une annonce.